$corText: rgb(115, 122, 140);
$corTexto1: rgb(255, 235, 178);
$corTexto2: #F25A5A;
$background: #0F131B;
$background2: #151A25;
$corBotao: #246DFF;
$corBotao2:#FFCD3A;
$preto: #000;
$branco: #fff;
$footer: #16122B;

$gradiente: linear-gradient(90deg, #ff0000, $corTexto2);
$gradiente2: linear-gradient(90deg, $corBotao2, #ffcc00);
$gradiente3: linear-gradient(to bottom, $corBotao, #5A88E8);